@use "../lists/styles/_variables.scss" as *;
@use "../lists/styles/_functions.scss" as *;

.form {
  background-color: $primary-color-light;
  height: auto;
  margin: 0 auto;
  padding: convertPxToRem(40) 0;
  @include RWDMin();
  @include RWDMax();
  @include border();
  font-size: convertPxToRem(20);

  & > * {
    padding: 0 convertPxToRem(30) convertPxToRem(20) convertPxToRem(30);
    display: flex;
    justify-content: space-between;

  }

  &--center {
    display: flex;
    justify-content: center;

    &__select {
      font-size: convertPxToRem(18);
    }

    &__radio {

      &__label{
        padding: 10px;
        }

        &__input {
          padding-block: 10px;
        }
      }
    }

  &--product {
    width: 60%;
      @media (max-width: 576px){
        width: 75%;
        }
    }

  &--price {
    width: 60%;
      @media (max-width: 576px){
        width: 75%;
        }
    }

  &--saldo {
    @include saldo;

    &-less{
      @include saldo;
      color: $tertiary-color;
      font-weight: bold;
    }
  }
}
