$primary-color: #2196f3;
$primary-color-light: #4dabf5;
$primary-color-dark: #1769aa;
$secondary-color: #76ff03;;
$secondary-color-light: #91ff35;
$secondary-color-dark: #52b202;
$tertiary-color: #ff1744;
$tertiary-color-light: #ff4569;
$tertiary-color-dark: #b2102f;